.navbar-brand{
    color: linear-gradient(black,white)
  }
  
.navbar-expand-lg{
  background: linear-gradient(black,rgb(39, 24, 199)
)}

.nav-link{
  transition: 1s;
  margin: 0px 0px 0px 10px;
}

.nav-link:hover{
  background: linear-gradient(rgb(26, 21, 21),rgb(39, 24, 199));
  transform:scale(1.1);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 0px 0px 9px;
}
.product_title{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 15px;
  padding-bottom: 10px;
}
.product_text {
  padding-right: 50px;
}
.product_desc {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .2em;
}